{{- if (eq .name "codepen") -}}
    <i class="fab fa-codepen fa-2x"></i>
{{- else if (eq .name "facebook") -}}
    <i class="fab fa-facebook fa-2x"></i>
{{- else if (eq .name "github") -}}
    <i class="fab fa-github fa-2x"></i>
{{- else if (eq .name "gitlab") -}}
    <i class="fab fa-gitlab fa-2x"></i>
{{- else if (eq .name "instagram") -}}
    <i class="fab fa-instagram fa-2x"></i>
{{- else if (eq .name "linkedin") -}}
    <i class="fab fa-linkedin fa-2x"></i>
{{- else if (eq .name "slack") -}}
    <i class="fab fa-slack-hash fa-2x"></i>
{{- else if (eq .name "twitter") -}}
    <i class="fab fa-twitter fa-2x"></i>
{{- else if (eq .name "youtube") -}}
    <i class="fab fa-youtube fa-2x"></i>
{{- else if (eq .name "email") -}}
    <i class="fas fa-envelope fa-2x"></i>
{{- else if (eq .name "discord") -}}
    <i class="fab fa-discord fa-2x"></i>
{{- else -}}
    <i class="fab fa-link fa-2x"></i>
{{- end -}}
